<!--Herredamos de layaut-->
{% extends "layout.html" %} {% block content %}
<div class="heading">
    <h4 class="display-4">Será un gusto atenderlo.</h4>
</div>
<div class="row margin_top_30">
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/2.jpg')}}" class="img-fluid" alt="...">
    </div>
    <div class="col-md-6">
        <h5>Dirección</h5>
        <p><img src="{{ url_for('static', filename='images/icon-direccion.PNG')}}" class="img-fluid" alt="..."> 6a. Avenida 8-71, Zona 10</p>
        <br>
        <h5>Teléfonos</h5>
        <p><img src="{{ url_for('static', filename='images/icon-phone.PNG')}}" class="img-fluid" alt="..."> P.B.X +502 2384-5959</p>
        <p><img src="{{ url_for('static', filename='images/icon-phone.PNG')}}" class="img-fluid" alt="..."> Emergencia: +502 2314-5987</p>
        <p><img src="{{ url_for('static', filename='images/icon-phone.PNG')}}" class="img-fluid" alt="..."> Laboratorio: + 502 4587-4584</p>
        <br>
        <h5>Correo</h5>
        <p><img src="{{ url_for('static', filename='images/icon-correo.PNG')}}" class="img-fluid" alt="..."> uhostital@gmail.com</p>
        <p><img src="{{ url_for('static', filename='images/icon-correo.PNG')}}" class="img-fluid" alt="..."> uhsalud@gmail.com</p>
    </div>
</div>
{% endblock %}